<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <strong><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</strong>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :firstname %>
    <%= f.text_field :firstname, class: "form-control", placeholder: "Firstname" %>
  </div>
  <div class="form-group">
    <%= f.label :lastname %>
    <%= f.text_field :lastname, class: "form-control", placeholder: "Lastname" %>
  </div>
  <%= f.submit class: "btn btn-success" %>
<% end %>
