<div class="page-header">
  <h1>Players</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Join date</th>
      <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Rank</th>
      <th>Manage</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each_with_index do |player, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= link_to player.fullname, player %></td>
        <td><%= distance_of_time_in_words(Time.now, player.created_at) %> ago</td>
        <td><%= number_with_precision(player.rank, precision: 1) %></td>
        <td>
          <%= link_to 'Edit', edit_player_path(player), class: "btn btn-primary" %>
          <%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path, class: "btn btn-success" %>
