<div class="page-header">
  <h1><%= image_tag avatar_url(@player) %> <%= @player.fullname %> <span class="label label-default"><%= number_with_precision(@player.rank, precision: 1) %></span></h1>
</div>

<h2>Details</h2>
<p>E-mail address: <strong><%= @player.email %></strong></p>
<p>Joined: <strong><%= distance_of_time_in_words(Time.now, @player.created_at) %> ago</strong></p>
<br />

<h2>Statistics</h2>
<p>Number of points in the ranking system: <strong><%= number_with_precision(@player.rank, precision: 1) %></strong></p>
<p><%= @player.the_total_number_of_points %> points in <strong><%= @player.the_total_numer_of_matches %></strong> matches
(<%= @player.the_numer_of_won_matches %> won, <%= @player.the_numer_of_lost_matches %> lost)</p>
<p>The average numer of points per match: <strong><%= @player.the_average_number_of_points_per_match %></strong></p>
<br />

<h2>Matches played by <%= @player.firstname %></h2>
<%= render partial: "matches/matches", object: @matches %>

<%= will_paginate @matches %>

<br /><br />

<%= link_to 'Edit', edit_player_path(@player), class: "btn btn-primary" %>
<%= link_to 'Back', players_path, class: "btn btn-primary" %>
