<div class="page-header">
  <h1><%= @player.firstname + ' ' + @player.lastname %></h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Winner</th>
      <th>Loser</th>
      <th>Date</th>
      <th>Loser score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.winner.fullname %></td>
        <td><%= match.loser.fullname %></td>
        <td><%= match.date %></td>
        <td><%= match.loser_score %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
