<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span> Date</th>
      <th class="winner">Winner</th>
      <th class="score">Score</th>
      <th class="loser">Loser</th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each_with_index do |match, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= match.date %></td>
        <td class="winner"><%= match.winner.fullname %></td>
        <td class="score">10:<%= match.loser_score %></td>
        <td class="loser"><%= match.loser.fullname %></td>
      </tr>
    <% end %>
  </tbody>
</table>