<p>
  <strong>Winner:</strong>
  <%= @match.winner %>
</p>

<p>
  <strong>Loser:</strong>
  <%= @match.loser %>
</p>

<p>
  <strong>Date:</strong>
  <%= @match.date %>
</p>

<p>
  <strong>Loser score:</strong>
  <%= @match.loser_score %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
